/* Directories */
#list a[href$="/"]:before {
    font-family: FontAwesome;
    content: "\f114  ";
}

/* Misc files */
#list a[href*="."]:before {
    font-family: FontAwesome;
    content: "\f016  ";
}

/* Parent directory */
#list a[href*="../"]:before {
    font-family: FontAwesome;
    content: "../ ";
}    

/* Archives */
#list a[href$=".zip"]:before,
#list a[href*=".tar"]:before,
#list a[href$=".rar"]:before {
    font-family: FontAwesome;
    content: "\f1c6  ";
}

/* Code */
#list a[href$=".c"]:before,
#list a[href$=".h"]:before,
#list a[href$=".cpp"]:before,
#list a[href$=".hpp"]:before,
#list a[href$=".py"]:before,
#list a[href$=".hs"]:before,
#list a[href$=".pl"]:before,
#list a[href$=".css"]:before,
#list a[href$=".html"]:before,
#list a[href$=".js"]:before,
#list a[href$=".bf"]:before,
#list a[href$=".sh"]:before {
    font-family: FontAwesome;
    content: "\f1c9  ";
}

/* Videos */
#list a[href$=".mp4"]:before,
#list a[href$=".mkv"]:before,
#list a[href$=".avi"]:before,
#list a[href$=".mov"]:before,
#list a[href$=".wmv"]:before {
    font-family: FontAwesome;
    content: "\f1c8  ";
}

/* Pictures */
#list a[href$=".png"]:before,
#list a[href$=".jpg"]:before,
#list a[href$=".jpeg"]:before,
#list a[href$=".gif"]:before,
#list a[href$=".psd"]:before,
#list a[href$=".flif"]:before {
    font-family: FontAwesome;
    content: "\f1c5  ";
}

/* Audio */
#list a[href$=".mp3"]:before,
#list a[href$=".flac"]:before,
#list a[href$=".wav"]:before,
#list a[href$=".ogg"]:before,
#list a[href$=".aif"]:before {
    font-family: FontAwesome;
    content: "\f1c7  ";
}

/* Documents */
#list a[href$=".doc"]:before,
#list a[href$=".docx"]:before,
#list a[href$=".rtf"]:before,
#list a[href$=".odf"]:before {
    font-family: FontAwesome;
    content: "\f1c2  ";
}
#list a[href$=".ods"]:before,
#list a[href$=".xlsx"]:before,
#list a[href$=".xls"]:before {
    font-family: FontAwesome;
    content: "\f1c3  ";
}
#list a[href$=".ppt"]:before,
#list a[href$=".odp"]:before {
    font-family: FontAwesome;
    content: "\f1c4  ";
}
#list a[href$=".pdf"]:before {
    font-family: FontAwesome;
    content: "\f1c1  ";
}
#list a[href$=".txt"]:before,
#list a[href$=".md"]:before,
#list a[href$=".tex"]:before {
    font-family: FontAwesome;
    content: "\f0f6  ";
}
