body {
    background-image: url("/frontend/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #212121;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    font-size: 26px;
}
a,
td {
    color: #eeeeee;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}
th a {
    text-decoration: underline;
}
li a {
    float: right;
    text-decoration: none;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
}
#title {
    color: #eeeeee;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
header {
    background-color: #21212191;
}
h1 {
    color: #eeeeee;
    font-size: 23px;
    font-weight: normal;
    padding-top: 0.4vh;
    margin: 0;
    font-family: 'Lobster', cursive;
    text-align: center;
    z-index: 9999;
}
#list {
    padding-top: 1vh;
    margin: 0 auto;
    width: 38%;
}
a {
    transition: text-shadow .3s;
}
a:hover {
    text-shadow: 0 0 2px #eee;
}
hr {
    height: 6px;
    background: url(/frontend/img/hr.png) repeat-x 0 0;
    border: 0;
}
th {
    text-align: left;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 0.25vh;
}
footer a {
    font-size: 16px;
    float: left;
    padding-right: 0.4vw;
    padding-left: 0.4vw;
}
