<footer>
    <ul>
        <li><a href="https://gitlab.com/sburris/file-index"><i class="fa fa-code" aria-hidden="true"></i></a></li>
        <li><a href="mailto:sburris@posteo.net"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
</footer>
