<head>
    <link rel="stylesheet" href="/frontend/css/style.css">
    <link rel="stylesheet" href="/frontend/css/file_types.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Lobster" rel="stylesheet">
  	<title>Files</title>
</head>
<header>
    <ul>
      <li id="title">Files</li>
      <li><a href="https://gitlab.com/sburris/file-index"><i class="fa fa-code" aria-hidden="true"></i></a></li>
      <li><a href="mailto:sburris@posteo.net"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    </ul>
    <hr>
</header
<body><h1 class="path">
